<h2>Add new movie to your FilmShelf!</h2>
<div id="add" class="well well-large" >
<%= form_tag(:controller => "movies", :action => "choose") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-large btn-primary" %>
<% end %>
</div>

<%= link_to 'Back', movies_path %>
