

            
<div id="movie" class="well well-large">
	                <h2> 
                  <%= @movie_data[0] %>
               </h2>
               <div id="movie_poster" class="pull-left">
            <img src=<%= @movie_data[1] %>  alt=<%= @movie_data[0] %>/>    
</div>
<div id="movie_desc" class="well" > 

      <h4><%= @movie_data[6].count == 1 ? "Director" : "Director".pluralize  %></h4>
  <% for i in (0..@movie_data[6].count-1) do %> 
  <%= @movie_data[6][i] %>
</br>
  <% end %>

  <h4> Actors: </h4>
  <% for i in (0..5) do %> 
  <%= @movie_data[5][i] %>
</br>
  <% end %>

<h4>Movie Description:</h4>
<%= @movie_data[4] %>
</br>
</br>
<a href=<%= @movie_data[2] %>> Read more about <%= @movie_data[0] %> on imdb.com</a>
            
</div>
<%= link_to 'Back to my shelf', movies_path %>
</div>

<% if current_user.id == @movie.user_id %>
<div id="movie_edit" class="well well-large" >
<h4>Edit movie:</h4>

<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :imdb %>
  </div>
  <div class="field">
    <%= f.label :media %>
    <%= f.select :media, [['CD','CD'],['DVD','DVD'],['BR','BR']] %>
  </div>
  <div class="field">
    <%= f.label :media_info %>
    <%= f.text_field :media_info %>
  </div>
  <div class="field">
    <%= f.label :seen %>
    <%= f.check_box :seen %>
  </div>
</br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <h4>Delete movie:</h4>
    <div class="btn btn-large"> 
      <%= link_to 'Delete Movie', @movie, confirm: 'Are you sure?', method: :delete %>
 </div>
</div>
<% end %>
